<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="db_Shop4Training" 
			 connectionString="Server=DESKTOP-AIEHE0Q\LUCKY; Database=db_Shop4Training; Integrated Security=TRUE"/>
	</connectionStrings>
</configuration>